<h2><%= @channel.title %></h2>
<p><%= @channel.description %></p>

<input type="textbox" value="<%= @channel.instruction %>">

<button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Preview</button>
<button class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Queue</button>
<button class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Run</button>
<button class="btn btn-danger"><span class="glyphicon glyphicon-repeat"></span> Restart</button>

<div class="video-preview">
    <video src="<%= @channel.stream_url.to_s %>" controls>
    <source src="<%= @channel.stream_url.to_s %>" type="application/x-mpegURL">
    This browser does not support HTML5 video.
    </video>
</div>